@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
:root {
    --bg-color: #1f1f1f;
    --bg-light: #222222;
    --primary-color: #FE5D26;
    --secondary-color: #BDD4E7;
    --contrast-color: white;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #1f1f1f;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
}
.flex-inverse {
    display: flex;
    flex-direction: column-reverse;
}
.flex-center-h {
    justify-content: center;
}
.flex-center-v {
    align-items: center;
}
.flex-right {
    justify-self: flex-end;
}
.center {
    margin: 0 auto;
}
.container-lg {
    width: 90%;
}
.invisible {
    display: none !important;
}